# ENV
ENV="example"

# DATABASE
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# APP
AUTH_SECRET=
RESET_PASSWORD_TOKEN_EXPIRES_IN=15 # minutes
WEB_URL=

# MAIL
SENDINBLUE_API_KEY=

# FIREBASE CREDENTIALS
# Configurações do projeto > Contas de serviço > Gerar nova chave privada
# Lembrar de adicionar propriedade "storageBucket" com o nome do seu bucket (Ex: SEU-BUCKET.appspot.com)
FIREBASE={"type": "service_account", "project_id": "exemplo-app", "private_key_id": "000000000000000000000000000000000000", "private_key": "-----BEGIN PRIVATE KEY-----varias letras aleatórias-----END PRIVATE KEY-----\n", "client_email": "firebase-adminsdk-xxx@exemplo-app.iam.gserviceaccount.com", "client_id": "000000000000000", "auth_uri": "https://accounts.google.comxxxxxx", "token_uri": "https://xxxx.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/xxx", "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/xxxxgserviceaccount.com", "storageBucket": "project-name.appspot.com"}

# STORAGE
USERS_AVATARS_FOLDER="users/avatars"
